
.project-container{
    width: 100%;
    height: 100%;
    background-color: red;
}

.side-bar{
    height: 100%;
    width: 20%;
    background-color: lightgray;
    border-right: 1px solid #acacac;
}

h1 {
    margin: 0;
    padding: 0;
}