@import url('https://fonts.googleapis.com/css2?family=Lato');

.home-container{
    font-family: 'Lato', monospace;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 40px;
    padding: 50px 75px;
}

.plain-text{
    color: #333;
    font-size: 25px;
}

.name-text{
    color: #ff3333;
    font-size: 80px;
    font-weight: bold;
}

.description-text{
    line-height: 1.8;
    color: #333;
    font-weight: bold;
}

.home-btn{
    font-weight: bold;
    text-decoration: none;
    color: #ff3333;
    border: 2px solid #ff3333;
    border-radius: 5px;
    padding: 15px;
    width: fit-content;
    margin-top: 35px;
    transition: background-color 0.5s;
}

.home-btn:hover{
    background-color: #ff3333;
    color: #f4fdff;
    font-weight: bold;
}

